@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #fafdf9 
}

.vertical-text[data-v-2548bc8c] {
  position: sticky;
  top: 122px;
  width: 160px;
  max-width: 160px;
  min-width: 160px;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 150px;
  z-index: 3;
}
